.hero-container {
    min-height: 500px;
    background-image: url("https://images.unsplash.com/photo-1709809328185-ba9ee5a06121?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-text {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 85px 25px;
        align-items: center;
        font-size: 1.875rem;

        .main-heading {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .booking-btn {
            padding: 0.5em 1em;
            border: none;
            border-radius: 5px;
            background-color: rgb(5, 160, 152);
            color: white;
            font-size: 1.125rem;
            cursor: pointer;
        }

        .booking-btn:hover {
            background-color: lightseagreen
        }
    }
}

@media screen and (max-width: 650px) {
    .hero-container {
        min-height: 460px;

        .hero-text {
            font-size: 1.5rem;

            .main-heading {
                flex-direction: column;

                .stars.hidden {
                    display: none;
                }
            }
        }
    }
}