<div class="hero-container">
    <div class="hero-text">
        <div class="main-heading">
            <div class="stars">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h2>Five Star Hotels</h2>

            <div class="stars">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>

        <p class="secondary-text">Find your next stay</p>

        <button [routerLink]="['/hotels']" class="booking-btn">See Hotels</button>
    </div>
</div>