header {
    padding: 15px 0;
    background-color: #f4f7f8;
    position: relative;

    .container {
        display: flex;
        gap: 30px;

        .left-side {
            display: flex;
            gap: 30px;

            .main-logo-container {
                width: 90px;

                .main-logo {
                    width: 100%;
                    display: block;
                }

            }
        }

        .horizontal-line {
            width: 1px;
            background-color: rgba(0, 0, 0, 0.2);
        }

        .right-side {
            display: flex;
            align-items: center;
        }

        .hamburger-menu {
            width: fit-content;
            height: 25px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            input {
                appearance: none;
                width: 30px;
                height: 5px;
                border-radius: 5px;
                background-color: lightseagreen;
                transition: width 0.2s ease-in-out;
            }
        }

        .hamburger-menu::before,
        .hamburger-menu::after {
            content: "";
            display: block;
            width: 30px;
            height: 5px;
            border-radius: 5px;
            background-color: lightseagreen;
            transition: transform 0.2s ease-in-out;
        }

        .hamburger-menu::before {
            transform-origin: left;
        }

        .hamburger-menu::after {
            transform-origin: left;
        }

        .hamburger-menu:has(input:checked)::before {
            width: calc(20px * 1.4142);
            transform: rotate(45deg);
        }

        .hamburger-menu:has(input:checked)::after {
            width: calc(20px * 1.4142);
            transform: rotate(-45deg);
        }

        .hamburger-menu:has(input:checked) input {
            width: 0;
        }

        .main-navbar {
            padding-left: 30px;

            .navbar-list {
                display: flex;
                gap: 30px;

                .navbar-list-item {
                    list-style-type: none;

                    .navbar-link {
                        color: #222;
                        text-decoration: none;
                        font-size: 1.25rem;
                        font-weight: bold;
                        transition: color 0.2s;
                    }

                    .navbar-link:hover,
                    .router-link-active {
                        color: lightseagreen;
                    }
                }
            }
        }
    }
}


/************************/
/**** MEDIA QUERIES ****/
/************************/

@media screen and (max-width: 600px) {
    header .container {
        justify-content: space-between;

        .main-navbar {

            .navbar-list {
                background-color: #f4f7f8;
                width: 100%;
                height: 0;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 100%;
                flex-direction: column;
                gap: 0;
                transition: height 0.3s ease-out;

                .navbar-list-item {
                    padding: 15px 20px;
                    border-top: 1px solid lightseagreen;
                }
            }
        }

        .hamburger-menu {
            display: flex;
        }

        .hamburger-menu:has(input:checked)+.main-navbar .navbar-list {
            height: 192px;
        }
    }
}