<div *ngIf="isLoaded" class="container">
    <div class="room-imgs">
        <div class="main-img-container">
            <div class="img-slider-arrows">
                <div class="arrow left" (click)="selectImage(currImgIndex - 1)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path
                            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                    </svg>
                </div>
                <div class="arrow right" (click)="selectImage(currImgIndex + 1)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path
                            d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                    </svg>
                </div>
            </div>
            <img [src]="room!.images[currImgIndex].source" alt="Room Image">
        </div>
        <div class="small-imgs">
            <img *ngFor="let image of room!.images; index as i" [src]="image.source" alt="Room Image" class="small-img"
                (click)="selectImage(i)">
        </div>
    </div>
    <div class="reservation-details">
        <div class="reservation-header">
            <div class="horizontal-line"></div>
            <h2 class="reservation-heading">Reservation</h2>
        </div>
        <div class="room-info">
            <h4 class="room-name">{{ room?.name }}</h4>
            <p class="room-price">{{ room?.pricePerNight | currency }}</p>
        </div>
        <form class="reservation-form" (ngSubmit)="bookRoom(bookingForm)" #bookingForm="ngForm">
            <div class="form-group">
                <label for="check-in">Check-in</label>
                <input type="date" id="check-in" name="check-in" [(ngModel)]="bookingData.checkInDate" required
                    [min]="getCurrDate()" [max]="getCheckinMax()" (blur)="checkinValidity()" #checkInCtrl="ngModel">
                <div *ngIf="checkInCtrl.invalid && (checkInCtrl.touched || bookingForm.submitted)" class="error">
                    <span *ngIf="checkInCtrl.errors?.['required']">Check-in date is required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="check-out">Check-out</label>
                <input type="date" name="check-out" id="check-out" [(ngModel)]="bookingData.checkOutDate" required
                    [min]="getCheckoutMin()" (blur)="checkoutValidity()" #checkOutCtrl="ngModel">
                <div *ngIf="checkOutCtrl.invalid && (checkOutCtrl.touched || bookingForm.submitted)" class="error">
                    <span *ngIf="checkOutCtrl.errors?.['required']">Check-out date is required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="customer-name">Customer Name</label>
                <input type="text" name="customer-name" id="customer-name" placeholder="Customer Name"
                    [(ngModel)]="bookingData.customerName" required pattern="[a-zA-Z]{1,} [a-zA-Z]{1,} {0,}"
                    #nameCtrl="ngModel">
                <div *ngIf="nameCtrl.invalid && (nameCtrl.touched || bookingForm.submitted)" class="error">
                    <span *ngIf="nameCtrl.errors?.['required']">Customer name is required</span>
                    <span *ngIf="nameCtrl.errors?.['pattern']">Customer Name should consist of first and last names (no
                        numbers or special characters)</span>
                </div>
            </div>
            <div class="form-group">
                <label for="phone-number">Phone Number</label>
                <input type="tel" name="phone-number" id="phone-number" placeholder="+995---------"
                    [(ngModel)]="bookingData.customerPhone" required pattern="\+995\d{9}" #phoneCtrl="ngModel">
                <div *ngIf="phoneCtrl.invalid && (phoneCtrl.touched || bookingForm.submitted)" class="error">
                    <span *ngIf="phoneCtrl.errors?.['required']">Customer phone is required</span>
                    <span *ngIf="phoneCtrl.errors?.['pattern']">Phone number is invalid</span>
                </div>
            </div>
            <div class="form-group">
                <label for="customer-id">Customer ID</label>
                <input type="text" name="customer-id" id="customer-id" placeholder="01019050022"
                    [(ngModel)]="bookingData.customerId" required pattern="\d{11}" #idCtrl="ngModel">
                <div *ngIf="idCtrl.invalid && (idCtrl.touched || bookingForm.submitted)" class="error">
                    <span *ngIf="idCtrl.errors?.['required']">Customer ID is required</span>
                    <span *ngIf="idCtrl.errors?.['pattern']">ID number should contain exactly 11 digits</span>
                </div>
            </div>
            <button type="submit" class="booking-btn">Book Now</button>
        </form>
    </div>
</div>

<app-loading-spinner *ngIf="!isLoaded"></app-loading-spinner>