td {
    padding: 14px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}

.flex-container {
    display: flex;
    gap: 15px;
    align-items: center;

    .img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        display: block;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .name {
            font-size: 0.75rem;
        }

        .location,
        .price {
            color: #888;
        }
    }
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        font-size: 0.875rem;
    }
}

.cancel-btn {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;

}

.cancel-btn::before,
.cancel-btn::after {
    content: '';
    display: block;
    width: calc(100% * 1.4241);
    height: 4px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
}

.cancel-btn::before {
    top: -2px;
    left: 0;
    transform: rotate(45deg);
    transform-origin: left;
}

.cancel-btn::after {
    bottom: -2px;
    left: 0;
    transform: rotate(-45deg);
    transform-origin: left;
}

@media screen and (max-width: 690px) {
    td {
        padding: 12px 4px;
    }

    .customer-info p {
        font-size: 0.75rem;
    }

    .flex-container {
        gap: 5px;
        flex-direction: column;
        justify-content: flex-start;
        align-self: self-start;

        .img {
            width: 35px;
            height: 35px;
        }

        .right {
            align-items: center;
            text-align: center;
        }
    }

    .cancel-btn {
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 450px) {
    td {
        font-size: 0.75rem;
    }

    .customer-info p {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 0.675rem;

        .customer-info-type {
            font-weight: bold;
            color: #777;
        }
    }
}