td {
    padding: 14px 7px;
    font-size: 0.875rem;
}

.flex-container {
    display: flex;
    gap: 15px;
    align-items: center;

    .img {
        width: 50px;
        height: 40px;
        display: block;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 5px;
        // justify-content: space-between;

        .name {
            font-size: 0.75rem;
        }

        .location,
        .price {
            color: #888;
        }
    }
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        font-size: 0.875rem;
    }
}

.cancel-btn {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;

}

.cancel-btn::before,
.cancel-btn::after {
    content: '';
    display: block;
    width: calc(100% * 1.4241);
    height: 4px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
}

.cancel-btn::before {
    top: -2px;
    left: 0;
    transform: rotate(45deg);
    transform-origin: left;
}

.cancel-btn::after {
    bottom: -2px;
    left: 0;
    transform: rotate(-45deg);
    transform-origin: left;
}