.hotels-section {
    margin-bottom: 100px;
    min-height: 100vh;

    .hotels {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;

        .hotel {
            min-width: 250px;
            max-width: calc((100% - 2 * 25px) / 3);
            flex: 1;
        }
    }
}

@media screen and (max-width: 830px) {
    .hotels-section .hotels .hotel {
        max-width: calc((100% - 25px) / 2);
    }
}

@media screen and (max-width: 555px) {
    .hotels-section .hotels .hotel {
        max-width: 100%;
    }
}