form {
    padding: 40px 20px;
    display: flex;
    gap: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 7px;

        label {
            font-size: 0.875rem;
            color: #333;
            font-weight: bold;
        }

        .input-field {
            padding: 5px 10px;
            height: 35px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    .right {
        display: flex;
        gap: 15px;
        flex: 1;

        .form-group {
            flex: 1;
        }
    }

    .price-range {
        align-items: center;

        .prices {
            display: flex;
            gap: 15px;

            input {
                max-width: 100px;
            }
        }
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;

        .btn {
            padding: 0.5em 1.4em;
            font-size: 0.875rem;
            background-color: rgb(5, 160, 152);
            color: white;
            border: none;
            cursor: pointer;
        }

        .btn:hover {
            background-color: lightseagreen;
        }
    }

}