.container {
    margin: 100px auto;

    .heading {
        text-align: center;
        margin-bottom: 50px;
        padding-bottom: 15px;
        border-bottom: 1px solid lightseagreen;
        color: #333;
    }

    .favourite-rooms {
        display: grid;
        gap: 50px 25px;
        grid-template-columns: repeat(3, (calc((100% - 2 * 25px)/3)));

        .favourite-room {
            border: 1px solid rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

            .hotel-img {
                width: 100%;
            }

            .hotel-card-body {
                padding: 10px 20px 25px;
            }

            .hotel-details {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .hotel-desc {
                    padding-left: 10px;
                }

                .hotel-price {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    padding: 10px;
                    border-left: 1px solid rgba(32, 178, 170, 0.3);

                    span {
                        font-size: 0.75rem;
                        color: #444;
                    }

                    .amount {
                        color: lightseagreen;
                        font-weight: bold;
                        font-size: 1.25rem;
                    }
                }
            }

            .book-btn {
                font-size: 1rem;
                margin-top: 10px;
                padding: 0.5em 1em;
                width: 100%;
                background-color: rgb(5, 160, 152);
                color: white;
                border: none;
                cursor: pointer;
            }

            .book-btn:hover {
                background-color: lightseagreen;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .container .favourite-rooms {
        gap: 40px 20px;
        grid-template-columns: repeat(2, (calc((100% - 20px) / 2)));
    }
}

@media screen and (max-width: 480px) {
    .container .favourite-rooms {
        grid-template-columns: 100%
    }
}