.container {
    margin: 100px auto;

    .booked-rooms-table {
        width: 100%;
        border-collapse: collapse;

        thead {
            border-bottom: 2px solid lightseagreen;

            tr {
                text-align: left;

                th {
                    padding: 14px 10px;
                    color: #222;
                }
            }
        }

        tbody {
            .table-row {
                display: table-row;
                border-bottom: 1px solid rgba(32, 178, 170, 0.5);
                vertical-align: middle;
            }
        }

    }
}

@media screen and (max-width:690px) {
    .container .booked-rooms-table thead tr th {
        padding: 12px 4px;
        text-align: center;
    }

}

@media screen and (max-width:450px) {
    .container .booked-rooms-table thead tr th {
        font-size: 0.825rem;
    }

}