<div class="container">
    <div class="usp-item">
        <div class="usp-icon"><i class="fa-solid fa-utensils fa-xl"></i></div>
        <h4 class="usp-name">24/7 Restaurant</h4>
        <p class="usp-desc">
            Enjoy a wide array of culinary delights at our 24-hour restaurant, offering freshly prepared meals and
            snacks to satisfy your taste buds—any time, day or night. From gourmet entrees to light bites, our chefs
            are always ready to serve you.
        </p>
    </div>
    <div class="usp-item">
        <div class="usp-icon"><i class="fa-regular fa-calendar-check fa-xl"></i></div>
        <h4 class="usp-name">Easy Check-In/Out</h4>
        <p class="usp-desc">
            Travel made effortless. Our flexible check-in and check-out services ensure you’re in control of your
            schedule. Whether you're arriving early or departing late, we accommodate your needs so you can focus on
            enjoying your stay.
        </p>
    </div>
    <div class="usp-item">
        <div class="usp-icon"><i class="fa-solid fa-water fa-xl"></i></div>
        <h4 class="usp-name">Luxury Wellness Spa</h4>
        <p class="usp-desc">
            Relax, rejuvenate, and recharge at our luxury wellness spa. Featuring world-class therapists and a range of
            treatments, from soothing massages to invigorating facials, our spa is designed to restore balance to your
            mind and body.
        </p>
    </div>
    <div class="usp-item">
        <div class="usp-icon"><i class="fa-solid fa-dumbbell fa-xl"></i></div>
        <h4 class="usp-name">Fitness Center</h4>
        <p class="usp-desc">
            Stay energized and active in our fitness center. With the latest equipment, personal training sessions,
            and a variety of fitness classes, maintaining your workout routine has never been this enjoyable.
        </p>
    </div>
</div>